---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import { getSession } from "auth-astro/server";
import Logout from "../../components/Logout.astro";

const session = await getSession(Astro);

if (!session) {
    return Astro.redirect("/login");
}

const user = session.user?.name as string;
---

<BaseLayout>
    <upload-section data-user={user}>
        <div class="container">
            <Header authenticated={!!session} />
            <main>
                <h1>Dashboard</h1>
                <div class="userCard">
                    <img src={session.user?.image}>
                    <div class="info">
                        <h2>{user}</h2>
                        <a href="/dashboard/integrations">Manage sign-ins</a>
                        <Logout />
                    </div>
                </div>
                <form data-upload>
                    <input type="file" name="file" accept=".zip" />
                    <button type="submit">Upload</button>
                </form>
            </main>
        </div>
    </upload-section>
</BaseLayout>

<script>
    class UploadSection extends HTMLElement {
        constructor() {
            super();
            const form: HTMLFormElement = document.querySelector("[data-upload]")!;
            form.addEventListener("submit", (e) => {
                e.preventDefault();
                new FormData(form);
            });
            form.addEventListener("formdata", async (e) => {
                const data = e.formData.get("file") as File;

                const user = this.dataset.user as string;
                await fetch("/api/upload", {
                    headers: {
                        "Content-Type": "application/json",
                        user: user,
                    },
                    method: "POST",
                    body: await data.bytes(),
                }).then(console.log);
            });
        }
    }

    customElements.define("upload-section", UploadSection);
</script>
<style lang="scss">
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        max-width: 80ch;
    }

    .userCard {
        display: flex;
        margin-bottom: 1rem;

        img {
            width: calc(24px * 3 + 8px);
            margin: 0.5rem;
            border: 2px solid black;
        }

        .info {
            font-size: 24px;

            a {
                color: black;
                display: block;
            }
        }
    }
</style>
