---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro);
---

<BaseLayout>
    <Header authenticated={!!session} />
    <div class="container">
        <main>
            <h1>Terms of Service</h1>

            <h2>TL;DR</h2>

            <ul>
                <li>You must have the rights to distribute any content in uploaded tracks.</li>
                <li>Do not abuse our site resources (e.g. through spam).</li>
                <li>Do not manipulate track reviews.</li>
                <li>We reserve the right to delete your data at any time without prior notice.
                </li>
            </ul>

            <!-- From Quaver -->
            <p>
                The following terminology applies to these Terms and Conditions and the
                Privacy Statement and any or all Agreements: "Client", "You" and "Your" refers to
                you, the person accessing this website and accepting the Company's terms and
                conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company.
                "Party", "Parties", or "Us", refers to both the Client and ourselves, or either
                the Client or ourselves. All terms refer to the offer, acceptance and consideration
                of payment necessary to undertake the process of our assistance to the Client
                in the most appropriate manner, whether by formal meetings of a fixed duration,
                or any other means, for the express purpose of meeting the Client's needs in respect
                of provision of the Company's stated services/products, in accordance with and
                subject to, prevailing law of . Any use of the above terminology or other words
                in the singular, plural, capitalisation and/or he/she or they, are taken as
                interchangeable and therefore as referring to same.
            </p>

            <p>
                We will notify you through in-website notifications
                when the terms of service have had non-grammatical changes, and update
                the 'last updated at' timestamp at the bottom of this change for all changes,
                including grammatical changes.
            </p>

            <h2>Song Rights</h2>

            <p>
                By submitting a track to this site, you confirm that you have the rights to
                publish or otherwise publicly distribute it's contents, including, but not limited
                to: 
            </p>

            <ul>
                <li>Rights to publicly distribute the associated music</li>
                <li>Rights to all of the map data</li>
                <li>Rights to publish all attached content included in the uploaded zip</li>
                <li>Rights to share your distribution rights with Cranky's Customs</li>
            </ul>

            <p>
                Any kind of content publishing of another user's content without explicit
                permission is strictly disallowed by us, and is a violation of the song rights
                policy.
            </p>

            <p>
                We do not permit infringement of intellectual property rights or copyright on
                our website, and we will remove all content that does so if properly notified that
                such content infringes on another's intellectual property rights.
            </p>

            <h2>Song Content</h2>

            <p>Songs and their associated mappings and information must not (non-exhaustively):</p>

            <ul>
                <li>
                    Contain any explicit content
                    <ul>
                        <li>
                            This extends to any associated song information (i.e. song title,
                            description)
                        </li>
                    </ul>
                </li>
                <li>Contain physically harmful audio</li>
                <li>
                    Require any proprietary mods (all associated mods must be non-malicious and
                    open source on some reputable git forge.)
                </li>
                <li>
                    Contain AI-generated assets
                </li>
                <li>Contain hate speech</li>
            </ul>

            <h2>
                Account Rights
            </h2>

            <p>
                We reserve the right to delete your account and its associated data at any time.
            </p>

            <p>
                To prevent platform abuse, we prohibit the following actions nonexhaustively:
            </p>

            <ul>
                <li>
                    Excessive resource consumption (e.g. mass uploading/deleting songs)
                    <ul>
                        <li>
                            You are still allowed to delete all of your data; <i>excessive</i>
                            deleting (i.e. repeatedly uploading and deleting songs) is in
                            violation of this policy.
                        </li>
                    </ul>
                </li>
                <li>Creating multiple accounts to manipulate song votes</li>
                <li>Commercializing uploaded content</li>
            </ul>

            <!-- These 'important' clauses are from Quaver -->

            <h2>Modifications to the Service</h2>

            <p>
                We reserve the right to modify or discontinue Cranky's Customs with or without
                notice to the client. Cranky's Customs shall not be liable to the
                Client or any third party should We
                exercise our right to modify or discontinue the Service.
            </p>

            <h2>Disclaimer of Warranty</h2>

            <p>
                We provide the Services to you as is. You use them at your own risk and
                discretion. That means they don't come with any warranty. None express,
                none implied. No implied warranty of merchantability,
                fitness for a particular purpose, availability, security, title or non-infringement.
            </p>

            <h2>
                Limitation of Liability
            </h2>

            <p>
                We won't be liable to you for any damages that arise from your using the Services.
                This includes if the Services are hacked or unavailable.
                This includes all types of damages (indirect, incidental, consequential,
                special or exemplary). And it includes all kinds of legal claims,
                such as breach of contract, breach of warranty, tort, or any other loss.
            </p>

            <h2>Severability</h2>

            <p>
                If any provision of these terms is found invalid by a court of competent
                jurisdiction, you agree that the court should try to give effect to the parties'
                intentions as reflected in the provision and that other provisions
                of the Terms will remain in full effect.
            </p>

            <hr>

            <p>This page was last updated on August 25th, 2025.</p>
        </main>
    </div>
</BaseLayout>

<style>
    .container {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    main {
        max-width: 80ch;
        width: 80ch;
        margin-bottom: 2rem;
    }

    p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    ul {
        font-size: 24px;
    }

    .footnote {
        font-size: 24px;
    }
</style>