---
import Logout from './Logout.astro';

export interface Props {
    authenticated: boolean;
}

const { authenticated } = Astro.props;
---

<header>
    <!-- TODO: logo -->
    <div class="logo"></div>
    <h1><a href="/">Cranky's Cloud</a></h1>
    <div class="links">
        {
            authenticated ? (
                <>
                    <a href="/dashboard">dashboard</a>
                    <Logout />
                </>
            ) : (
                <a href="/login">login</a>
            )
        }
    </div>
</header>

<style lang="scss">
    a {
        color: black;
        cursor: pointer;
    }

    header {
        width: 100%;
        flex-grow: 0;
        text-align: center;
        padding: 6px;
        background-color: rgb(219, 219, 219);
        margin-bottom: 1rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin-left: 2rem;
    }

    .links {
        margin-right: 2rem;
        font-size: 24px;
        text-align: right;
    }

    .logo,
    h1,
    .links {
        flex: 1;
    }
</style>
