// Fonts grow in size 12px.
// A pixel is two pixels.

@font-face {
    font-family: "Digital-Disco";
    src: url("/fonts/DigitalDisco-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Digital-Disco";
    font-weight: normal;
    margin: 0;

    font-smooth: never;
    -webkit-font-smoothing: none;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

input,
p,
button {
    font-size: 24px;
}

body,
html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    // make `main` take up the actual remaining space.
    display: flex;
    flex-direction: column;
}
