---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { getSession } from "auth-astro/server";
import LevelsContainer from "../../components/LevelsContainer.astro";

const session = await getSession(Astro);

const { page } = Astro.params;
if (page === undefined) throw Error("A page number must be specified.");
const parsedPage = parseInt(page); // TODO: error handling
---

<BaseLayout>
    <Header authenticated={!!session} />
    <main>
        <input id="search" type="text" placeholder="Search..." />
        <LevelsContainer
            page={parsedPage}
            root="/page/"
            session={session ? session : undefined}
            dash={false}
        />
    </main>
    <Footer />
</BaseLayout>

<style lang="scss">
    main {
        margin: auto;
        flex-grow: 1;

        // I want to preserve the semantic `main` here, so we're nesting into flex
        // again for `.levelsContainer` to take only the remaining height
        display: flex;
        flex-direction: column;

        input {
            width: 100%;
            margin-bottom: 1rem;

            border: 2px solid black;
            padding: 6px;
        }
    }
</style>
